:host {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr);
    column-gap: 20px;
}

.index-card,
.score-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.index-card {
    height: 50px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
}

.score-card {
    height: 50px;
    background-color: #262626;
    border-radius: 5px;
    font-size: 20px;
}
